@model EventDetailsViewModel
@{
    ViewData["Title"] = "Event Details";
}

<div class="container-fluid">
    <div class="row content">
        @*<div class="col-sm-3 sidenav">
            <img src="@Model.CoverImageUrl" height="370" width="250" />
        </div>*@

        <div class="col-sm-9">
            <p><h1>@Model.Name</h1></p>
            <p><h4>Take Place: @Model.Place</h4></p>
            <p><h4>@Model.Address</h4></p>
            <p><strong>From:</strong> @Model.StartDate</p>
            <p><strong>TO:</strong> @Model.EndDate</p>
        </div>
    </div>
</div>

